* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: normal;
}

* {
    color: #fcfcfc;
    background-color: #000000;
    padding: 0px 8px;
    margin: 4px 1px;
    border-radius: 0px;
}

#bar {
    background: none;
    margin: 0px;
}

#tags {
    padding: 0px 8px;
    margin: 0px 2px;
}

#tags.active {
    background-color: #fcfcfc;
    color: #000000;
}

#tags.occupied {
    background-color: #282828;
    color: #fcfcfc;
}

#tags.empty {
    background-color: #0a0a0a;
    color: #5c5c5c;
}

#tags.urgent {
    background-color: #ff0000;
    color: #000000;
}

#overview {
    background-color: #fcfcfc;
    color: #000000;
}

#layout {
    background-color: #282828;
    color: #fcfcfc;
    min-width: 34px;
    margin: 4px 2px;
}

#title {
    background-color: transparent;
    color: #fcfcfc;
}

#clock {
    background-color: #282828;
    color: #fcfcfc;
}

#clock.date {
    background-color: #282828;
    color: #fcfcfc;
}

#cpu {
    background-color: #282828;
    color: #fcfcfc;
}

#mem {
    background-color: #282828;
    color: #fcfcfc;
}

#volume {
    background-color: #282828;
    color: #fcfcfc;
}

#brightness {
    background-color: #282828;
    color: #fcfcfc;
}

#network {
    background-color: #282828;
    color: #fcfcfc;
}

#keymode {
    background-color: #282828;
    color: #fcfcfc;
}

#keyboardlayout {
    background-color: #282828;
    color: #fcfcfc;
}

#battery {
    background-color: #282828;
    color: #fcfcfc;
}

#tray {
    background-color: #1a1a1a;
    padding: 0px 8px;
}
