*,
*::before,
*::after {
    border-radius: 0px !important;
    box-shadow: none !important;
    text-shadow: none !important;
    transition: none !important;
}

body, p, span, a, h1, h2, h3, h4, h5, h6, input, button, textarea {
    font-family: 'JetBrains Mono', monospace, system-ui !important;
}